/*
list of CSS styles for different parts of the site
    =main styles
    =menu styles
    =footer

    =home page
        --carousel
        --carousel form
        --custom button
        --category animate effect and styles
        --top categories list
    =login, =register pages
    =404 page
    =admin page
    =admin menu
    =projects
        --search
        --create

To go to one of them use search by keyword (Ctrl+F) '=page_name' or '--section_name'
*/

/********************=main styles*******************/

.wrapper {
    position: relative;
    min-height: 1000px;
    padding-bottom: 395px;
}
html,
body {
    height: 100%;
}
.fullheight {
    height: 100%;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-paddings {
    padding-left: 0;
    padding-right: 0;
}
.no-mg-rt {
    margin-right: 0;
}
.mg-bt {
    margin-bottom: 80px;
}
.vert-mg-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}
.vert-mg-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.vert-pd-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.pd-20 {
    padding: 20px;
}
.light-gray-wrap {
    background-color: #f8f8f8;
}

/********************=menu styles*******************/



/********************=footer*******************/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .875rem;
    line-height: 1.43;
    /*position: relative;*/
    color: #F7F7F7;
    background: #161e2c;
}
.footer-section {
    padding: 32px 0;
}
.footer-section-bordered {
    border-bottom: 1px solid #2b3340;
}
.site-stat-value {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 4px;
    font-weight: 700;
}
.site-stat-name {
    font-size: .75rem;
    line-height: 1.33;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-links-title {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 16px;
    font-weight: 700;
    color: inherit;
}
.footer-links {
    list-style: none;
    padding-left: 0;
}
.footer-link {
    display: inline-block;
    margin-bottom: 4px;
    color: #BEC0C2;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
.footer-copyright {
    font-size: .875rem;
    line-height: 1.43;
    margin: 16px 0 0;
    color: #BEC0C2;
}




/********************=index-page page*******************/

#site-wrapper,
.section-carousel,
.section-carousel.carousel,
.section-carousel.carousel-inner,
.section-carousel.item,
.section-carousel.item.active {
    height: 100%;
}
.home-container .section-home.section-carousel {
    padding: 0;
}
.home-container .section-home {
    background-color: #fff;
    padding: 60px 0;
    position: relative;
}
.home-container .section-home.section-gray {
    background-color: #F8F8F8;
}
.home-container .section-home.section-why-course-network,
.home-container .section-home.section-how-it-works,
.home-container .section-home.section-categories,
.home-container .section-home.section-sponsors{
    text-align: center;
}
.home-container .section-home.section-why-course-network h3,
.home-container .section-home.section-how-it-works h3,
.home-container .section-home.section-categories h3,
.home-container .section-home.section-sponsors h3,
.home-container .section-home.section-top h3{
    margin-bottom: 40px;
}
.home-container .section-home.section-top h3 {
    text-align: center;
}

/**********************--carousel************************/

.section-carousel .carousel .carousel-item .fill {
    background-color: #fff;
    width: 100%;
    height: 100% !important;
    /*background-position: center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
    z-index: 3;
}
.carousel-indicators {
    position: absolute;
    bottom: 50px;
}
.carousel-caption {
    text-shadow: 1px 1px 1px #555555;
    position: absolute;
    top: 35%;
}

/*Carousel caption*/

.home-container .carousel-caption .caption-list {
    text-shadow: 1px 1px 1px #646464;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.home-container .carousel-caption .caption-list li {
    color: #fff;
    display: inline-block;
    margin-right: 7px;
}
.home-container .carousel-caption .caption-list li + li:before{
    content: '\2022';
    margin-right: 7px;
}
.home-container .carousel-caption .caption-text {
    font-size: 1.2rem;
}

/**********************--carousel form************************/

.get-started-form {
    position: absolute;
    left: 0;
    right: 0;
    height: 40%;
    top: 58%;
}
input#getStartedTitle {
    width: 100%;
    padding: .55rem 1rem;
    margin-bottom: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;

}
input#getStartedTitle:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px #346efd;
    -moz-box-shadow: 0 0 10px #346efd;
    box-shadow: 0 0 10px #346efd;
}
input#getStartedTitle::-webkit-input-placeholder {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

input#getStartedTitle:-moz-placeholder {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/****--custom button****/

.btn-custom1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: .7rem 1.3rem;
    font-size: 1rem;
    border-radius: .25rem;
    background: #0275d8;
    box-shadow: 0 -3px #025aa5 inset;
    transition: 0.2s;
    border: none;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.btn-custom1:hover { background: #025aa5; }
.btn-custom1:active {
    outline: none;

}
.btn-custom1:focus {
    outline: none;
}


.why-course-newtwor-img {
    display: inline-block;
    margin-bottom: 45px;
}

.home-categories-item {
    overflow: hidden;
    margin-bottom: 30px;
    width: 255px;

}
.home-categories-item a{
    display: inline-block;
    position: relative;
    border: 1px solid #aca9b0;
}
.home-categories-item p,
.home-categories-item figure {
    margin-bottom: 0;
}
/**********************--category animate effect and styles************************/

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.33) 0%, rgba(28, 25, 25, 0.8) 80%);
    content: '';
    opacity: 0;
    transform: translate3d(0,50%,0);
}

figure.effect-sadie img {
    display: inline-block;
    width: 100%;
    height: auto;
}

figure.effect-sadie h4 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px #404040;
    /*transition: transform 0.35s, color 0.35s;*/
    transform: translate3d(0,-50%,0);
    background-color: rgba(0, 0, 0, 0.64);
    border-bottom: 4px solid #0275d8;
    padding: 15px 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em 2em .4em;
    width: 100%;
    opacity: 0;
    color: #fff;
    font-size: .9em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #404040;
    transform: translate3d(0,10px,0);
}

figure.effect-sadie p span {
    display: inline-block;
    margin-top: 10px;
    font-style: italic;
    text-transform: none;
}

figure.effect-sadie:hover h4 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.26);
    transform: translate3d(0,-50%,0) translate3d(0,-64px,0);
    border-bottom: none;

}
.home-categories-item a:hover {
    border-color: #0275d8;
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}
/**********************--top categories list************************/

.home-container ul.top-category-list {
    list-style: none;
    column-count: 4;
}
.home-container ul.top-category-list li {
    padding: .15em 0;
}
.home-container ul.top-category-list li a{
    color: #000;
}
.home-container ul.top-category-list li a:hover {
    color: #0275d8;
}
.home-container ul.top-category-list li::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 8px;
    margin-bottom: 2px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #0275d8;
    content: "";
}



/********************=login =register page*******************/
.section-login {
    margin: 120px 0;
}
.loginRegisterLeft > div {
    padding: 20px 20px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F8F8F8;
}
.loginRegisterLeft > div {

}
.loginRegisterLeft h1 {
    font-weight: 400;
    text-align: center;
}
.loginRegisterLeft label {
    padding-top: .3em;
}
.loginRegisterLeft .btn-custom1 {
    font-weight: 400;
}
.loginRegisterLeft input[type="text"]::-webkit-input-placeholder {color:#b2b2b2;}
.loginRegisterLeft input[type="text"]::-moz-placeholder          {color:#b2b2b2;}/* Firefox 19+ */
.loginRegisterLeft input[type="text"]:-moz-placeholder           {color:#b2b2b2;}/* Firefox 18- */
.loginRegisterLeft input[type="text"]:-ms-input-placeholder      {color: #b2b2b2;}
.login-no-register span,
.register-already-member span {
    color: #8c8c8c;
    margin: 0 5px;
}
.loginRegisterRight {
    padding: 0 50px;
}
.loginRegisterRight h3 {
    font-weight: 400;
}
.loginRegisterRight p {
    color: #8c8c8c;
}

span.register-notice  {
    display: inline-block;
    margin-bottom: 1em;
    font-size: .75em;
    color: #8c8c8c;
}

/********************=404 page*******************/

.courseNetwork-not-found {
    margin-top: 90px;
}
.courseNetwork-not-found-title {

}
.courseNetwork-not-found-copy {

}

/********************=admin page*******************/

.admin-panel__title {
    color: #555555;
    font-size: 32px;
    font-weight: normal;
    float: none;
    text-shadow: 0 1px 0 #ffffff;
    margin: 20px 10px 10px 20px;
    position: relative;
}

.flexListTable {
    margin-right: 0;
}

.listTable {
    border: 1px #e3e3e3 solid;
}
.listTable td {
    background-color: #fcfcfc;
}
/********************=admin menu*******************/

.verticalAdminMenu .admin-label {
    background-color: #1F262D;
    font-size: 20px;
    font-weight: 600;
    color: #efefef;
    padding: 15px 25px;
    text-shadow: 0 1px 0 rgba(235, 235, 235, 0.61);
}

.verticalAdminMenu .admin-label span {
    color: #5975ff;
}

.verticalAdminMenu ul {
    min-height: 900px;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #2E363F;
}
.verticalAdminMenu ul li{
    list-style: none;

}
.verticalAdminMenu ul li a{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 25px;
    color: #939da8;
    font-size: 14px;
    border-top: 1px solid #37414b;
    border-bottom: 1px solid #1f262d;
}

.verticalAdminMenu ul li a.active {
    background-color: #7479ff;
    border-bottom: 1px solid #27a9e3;
    border-top: 1px solid #27a9e3;
    color: #fff;
}

.verticalAdminMenu ul li a:hover {
    text-decoration: none;
    background-color: #7479ff;
    color: #fff;


}

.verticalAdminMenu ul li a.active:before{
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #f8f8f8;
    border-bottom: 7px solid transparent;
}

.verticalAdminMenu li a i {
    margin-right: 10px;
    opacity: .6;
}
/********************=admin breadcrumbs*******************/

.admin-panel-wrap {
    padding-left: 0;
    padding-right: 0;
}

.admin-panel-wrap #breadcrumbs {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
}

.admin-panel-wrap #breadcrumbs a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url(/assets/img/icons/breadcrumb.png);
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666666;
}

.admin-panel-wrap #breadcrumbs a i {
    margin-right: 5px;
    opacity: .6;
}
/********************=projects page*******************/
.project-search-wrap {
    position: relative;
    padding: 60px 0;
}

.search-page-content {
    /*background-color: #fff;*/
    /*border: 1px solid #dddddd;*/
    /*border-top: none;*/
    /*-webkit-box-shadow: 0 0 5px #a9a9a9;*/
    /*-moz-box-shadow: 0 0 5px #a9a9a9;*/
    /*box-shadow: 0 2px 3px #c6c6c6;*/
}

/*Projects page header*/
.search-page-header {
    width: 100%;
    background: url('../img/projects-freelancers-search-page/geometry.jpg');
}
.search-page-header h1 {
    padding: 36px 0;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 1px 1px 7px #000;
}
.search-page-header h1 span {
    font-weight: 400;
    font-size: .6em;
}


/*Projects navigation*/
.custom-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fefefe;
    /*-webkit-box-shadow: 0 0 5px #a9a9a9;*/
    /*-moz-box-shadow: 0 0 5px #a9a9a9;*/
    /*box-shadow: 0 0 5px #a9a9a9;*/
    border-bottom: 1px solid #dddddd;
}
.custom-nav .tab {
    padding-left: 0;
    margin-bottom: 0;
}
.custom-nav .tab li {
    display: inline-block;
}
.custom-nav .tab li + li {
    margin-left: 15px;
}
.custom-nav .tab li a {
    display: inline-block;
    padding: 10px;
    border-bottom: 3px transparent solid;
    color: #000;
}
.custom-nav .tab li a:hover {
    text-decoration: none;
    border-bottom-color: #aac7e8;

}
.custom-nav .tab li a.active {
    border-bottom-color: #1065F6;
}

/********************--search*******************/

/*#project-search-form #keyword {*/
    /*width: 100%;*/
    /*padding: .55rem 1rem;*/
    /*margin-bottom: 10px;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #a5a5a5;*/
/*}*/
/*#project-search-form #keyword:focus {*/
    /*outline: none;*/
    /*-webkit-box-shadow: 0 0 5px #a2bdff;*/
    /*-moz-box-shadow: 0 0 5px #a2bdff;*/
    /*box-shadow: 0 0 5px #a2bdff;*/
/*}*/
/*#project-search-form input[type="submit"] {*/

/*}*/



/*Sidebar filter*/

.sidebarProjectFilter {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 20px;
    background-color: #fefefe;
    border: 1px solid #dddddd;
}
.sidebarProjectFilter h2 {
    margin-top: 0;

    font-size: 1em;
    font-weight: 400;
    color: #383b3e;
}

.sidebarBox a.active {font-weight: 600;}

ul.sidebarFilter {
    padding-left: 0;
}

ul.sidebarFilter .total-number {
    padding-left: .8em;
    color: #909090;
    font-size: .9em;
}

.drill_down_body {display:none;}
.drill_down_links label {cursor:pointer;}

a.select-location-item {display: inline-block;}
.select-location-item {
    margin-bottom: .4em;
}
.select-location-item form {margin-bottom: 0;}

/****** Checkbox and radio buttons *****/
.control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #1065F6;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #1051a3;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
/******* end *******/

/*Sidebar filters*/

.sidebarProjectFilter a {color: #36373b;}
.sidebarProjectFilter a:hover {color: #1065F6;}
.sidebarProjectFilter span.float-right {font-weight: 600;}
ul.sidebarFilter li{
    color: #3e3f43;
    list-style: none;
    padding: 3px 0;
}

.sidebarFilter li label input[type="checkbox"],
.sidebarFilter li label input[type="radio"] {
    margin-right: 7px;

}

.sidebarBox {
    margin-top: 30px;
}

.jobType li{
    display: inline-block;
    margin-right: 5px;
}

.sidebarFilter li label,
.sidebarFilter li label input[type="checkbox"],
.jobType label,
.jobType input{
    cursor: pointer;
    font-size: .9em;
}

.iconCoinBlue:before,
.iconStarBlue:before,
.iconBubbleBlue:before,
.iconLocationBlue:before,
.iconCategoriesBlue:before {
    content: '';
    display: inline-block;
    margin-right: 9px;
    width: 12px;
    height: 12px;
}

.iconStarBlue:before {background: url("../img/icons/star-blue.png") no-repeat center;}
.iconCoinBlue:before {background: url("../img/icons/coin.png") no-repeat center;}
.iconLocationBlue:before {background: url("../img/icons/location-blue.png") no-repeat center;}
.iconBubbleBlue:before {background: url("../img/icons/bubble.png") no-repeat center;}
.iconCategoriesBlue:before {background: url("../img/icons/categories-blue.png") no-repeat center;}

.sidebar-button {
    margin-top: 5px;
    margin-left: 4px;
    font-weight: 600;
    padding: 0.5em 1.3rem;
}

/**************List projects**********/
.projectList {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 74%;
    -ms-flex: 0 0 74%;
    flex: 0 0 74%;
    max-width: 74%;
    padding: 30px 20px;
    margin-left: 1%;
    background-color: #fefefe;
    border: 1px solid #dddddd;
}

.projectList .search-box .search-input input{
    width: 100%;
    padding: .51rem 1rem;
    margin-bottom: 10px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #cfcfcf;
    background-color: #fcfcfc;
}

.projectList .search-box .search-input input:focus {
    outline: none;
    border-color: #76a4ff;
    background-color: #fff;
}

.projectList .search-box .search-button input{
    -webkit-border-radius: 0 .25rem .25rem 0;
    -moz-border-radius: 0 .25rem .25rem 0;
    border-radius: 0 .25rem .25rem 0;
}

#list-project-heading {
    padding-left: 10px;
    margin-bottom: 25px;
}
#listProjectsHeading span {
    font-weight: 400;
    font-size: .6em;
}
.dropDownFilter {
    display: inline-block;
}
.sortBy {
    margin-right:15px;
}

/**** Project item , Freelancer item ****/


.project-list-result,
.freelancers-list-result{
    padding-top: 25px;
}

.project-item,
.freelancer-item {
    padding: 18px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 5px #dddddd;
    -moz-box-shadow: 0 0 5px #dddddd;
    box-shadow: 0 0 5px #dddddd;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.freelancer-item__header {
    margin-bottom: 10px;
}

.project-item__bookmark {
    display: inline-block;
    background: url("/assets/img/icons/bookmark-gray.png") no-repeat center;
    width: 24px;
    height: 30px;
}

.project-item__bookmark:hover {
    background: url("/assets/img/icons/bookmark-hover.png") no-repeat center;
}

.project-item:hover,
.freelancer-item:hover {
    -webkit-box-shadow: 0 0 5px #dddddd;
    -moz-box-shadow: 0 0 5px #dddddd;
    box-shadow: 0 0 5px #89adea;
}

.project-item .title,
.freelancer-item .title {
    font-weight: 400;
    font-size: 1.7rem;
}

.project-item-attributes,
.freelancer-item-attributes,
.project-item .tags,
.freelancer-item .tags {
    padding-left: 0;
    margin-bottom: .7rem;
}

.freelancer-item .tags {margin-top: 10px;}

.project-item-attributes li,
.freelancer-item-attributes li,
.project-item .tags li,
.freelancer-item .tags li{
    display: inline-block;
    list-style: none;
    color: #626262;
}

.project-item .tags li + li:before,
.freelancer-item .tags li + li:before,
.project-item-attributes li + li:before,
.freelancer-item li + li:before {
    content: '|';
    padding: 0 6px;
    color: #626262;
}


.project-item .tags li a,
.freelancer-item .tags li a,
.project-item .tags li + li:before,
.freelancer-item .tags li + li:before {
    color: #9b9b9b;
    font-size: .9em;
}

.project-item .client-name {
    font-size: .9em;
    line-height: 25px;
    padding-left: 5px;
}

.project-item .button-send-proposal {
    padding: 0.5rem 1.3rem;
    font-weight: 400;
}
.project-item .button-send-proposal:hover {color: #fff;}


.freelancer-item .freelancer-photo {
    width: 35%;
    overflow: hidden;
    border: 1px solid #a6a6a6;
}

.freelancer-item .freelancer-photo a {
    display: inline-block;
}

.freelancer-item .freelancer-photo img {
    width: 100%;
}

.freelancer-item .freelancer-meta {
    width: 62%;
    margin-left: 3%;
}

.freelancer-item .desc {
    /*word-wrap: break-word;*/
    margin-bottom: 0;
}

/*** Rating and Rate***/

.freelancer-item .freelancer-rating {
    display: inline-block;
    width: 90px;
    height: 18px;
    background: url("../img/icons/rating-bg-gray-18.png") repeat-x;
}

.freelancer-item .freelancer-rating span {
    display: inline-block;
    height: 18px;
    background: url("../img/icons/rating-bg-blue-18.png") repeat-x;
}

.freelancer-item .rating-amount {
    line-height: 18px;
    padding-left: 5px;
    color: #9c9c9c;
}

.freelancer-item .freelancer-rate {
    color: #868686;

}
/* END Rating*/


/********************--create*******************/
.createProjectWrap {
    background-color: #f8f8f8;
    padding: 20px 20px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.createJobForm {
    margin-top: 40px;
}

.helpfulTips {
    padding-top: 25px;
}

.helpfulTips h3{
    margin-bottom: 15px;
}

.helpfulTips li {
    padding-bottom: 15px;
}