/********************=user menu*******************/
div.main-user {


    background-image: url("/assets/img/user-page/setting/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px
}
.main-user h1{
    text-align: center;
}
.main-user-one table{
    position: relative;
    top: -50px;
    left:70px;

}
.main-user-one table th{
    text-align: left;
    font-size: small;
}
.main-user-one table th:first-child{
    padding-left: 100px;
}

.main-user table td {
    color:#0275d8;
    text-align: left;
    /*padding-left: 180px;*/
}
.main-user table td:first-child {
    color: #1d1e1f;
    font-weight: 600;
    padding-left: 100px;

}
.tr-inverse{
    background-color: #1d1e1f;
    color: #1d1e1f;
}
.tr-inverse :first-child{
    background-color: #1d1e1f;
    color: #1d1e1f;
}

.main-user-one {
    background-color: white;
    text-align: center;
    border-radius: 30px;
}
.main-user-one img {
    width: 160px;
    height: 160px;
    border-radius: 40px;

}
.main-user-one p {
    position: relative;
    text-align: justify;
    top: -100px;
}
#banner-main{
    height: 320px;
    width: 160px;
    border-radius: 0;
    position: relative;
    bottom: 25px;
}
.setting-user{
    background-image: url("/assets/img/user-page/setting/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px
}
.setting-user h3{
padding-bottom: 30px;
}
.portfolio-user{
    background-image: url("/assets/img/user-page/setting/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px

}
.custom {
  width: 70px;
    text-align: center;
    padding: 5px 5px;
}
.custom img{
    width: 280px;
    hight: 280px;

}
.custom-checkbox{
    position: absolute;
    left: 15px;
    top:  0;
    width: 20px;
    height: 20px;
    }
.thumb-custom{
    padding-top: 50px;
}
.cap-custom{
    text-align: center;
    padding-top: 10px;
    max-width: 280px;
}
.cap-custom p{
    text-align: center;
    padding-top: 10px;
    width: 280px;
    margin-left: 15px;

}

.add-user {

    width:auto;
    height: 100%;
    background-image: url("/assets/img/user-page/setting/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;


}

.fileform .selectbutton {
    background-color: #0275d8;
    border: 1px solid #0275d8;
    border-radius: 4px;
    color: #FFFFFF;
    float: right;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    padding-top: 5px;
}

.fileform #upload{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}
.fileform input {
    float: left;
    margin-top: 5px;
    border: none;
}
.col-6 {
    position:relative;
}
.workdiary{
    background-image: url("/assets/img/user-page/setting/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px
}
/*style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"*/
.workdiary iframe{
    height: 600px;
    frame-border:0;
    scrolling:no;
    border-width:0;
}
.jobs-user{
    background-image: url("/assets/img/user-page/setting/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px
}
.jobs-user table {
    margin-top: 20px;
}
.jobs-user table th,td {
    text-align: center;
}
.news-user{

}
.news-user h1,h2,img {
    text-align: center;
}
.menuinfo-user{
    text-align: justify;
    padding-top: 15px;
}